#foodList {
    margin-top: 32px;
    width: 100%;
    padding: 16px;
  }
  
  #foodList > .placeholder {
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.5);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .food {
    margin-bottom: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .food .gambar-food {
    width: 160px;
    height: 200px;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
  }
  
  .food-info {
    padding: 24px;
  }
  
  .food-info > h2 {
    font-weight: lighter;
  }
  
  .food-info > p {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10; /* number of lines to show */
  }